body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   min-height: 100vh;
   min-width: auto;

}
#title {
  font-size: 2.5em;
  color: #333;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;

}

#description {
  font-size: 1.2em;
  color: #666;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}
label {
  display: inline;
  margin-bottom: 10px;
  font-weight: bold;
  vertical-align: middle;
}   
input, select, textarea {
  width: auto;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1em;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}   
input[type="submit"]:hover {
  background-color: #218838;
}
fieldset {
  border: none;
  margin-bottom: 15px;
}
input[type="radio"] + label, input[type="checkbox"] + label {
  display: inline-block;
  margin-right: 20px;
  width: auto;
  font-weight: normal;
  margin-right: 10px;
}
